<table class="front">
	<tr>
		<td class="main">
			<%= render 'shared/whatsup' %>
			<%= render 'shared/feed' %>
		</td>
		<td class="sidebar round">
			<%= render 'shared/user_info' %>
		</td>
	</tr>
</table>