<div>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elementum lectus in nulla porttitor laoreet. Suspendisse potenti. Vivamus tempus sodales dignissim. Sed a libero ac metus ultrices gravida sit amet et nulla. Nunc lobortis mollis egestas. Donec facilisis bibendum felis id congue. Vestibulum imperdiet augue sit amet lectus ornare eu facilisis tellus consectetur. Sed elementum orci adipiscing elit vulputate nec consectetur enim posuere. Morbi luctus auctor rutrum. Maecenas nec magna neque. Proin tempus turpis at ipsum tincidunt ultricies. Etiam pulvinar purus lacus.
</div>

<%= link_to 'Sign up now!', '#', :class => 'signup_button round' %>